.placeorder {
    /* display: flex;
    justify-content: space-around; */
    /* width: 100%; */
}

.placeorder form {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.delivery-information {
    display: flex;
    flex-direction: column;

}

@media screen and (max-width:900px) {
    .placeorder form {
        flex-direction: column;
        justify-content: center;
    }

}

@media screen and (max-width:440px) {

    .delivery-information {
        width: 90%;

    }
}

.placeorder form input {
    width: 100%;
    margin: 10px 0;
    padding: 10px;
}

.inputs {
    display: flex;
    gap: 10px;
}