.main {
    position: fixed;
    display: grid;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0, 0.5);
    z-index: 800;
}

.form {
    place-self: center;
    display: flex;
    flex-direction: column;
    gap: 1vh;
    padding: 4vh 4vw;
    border-radius: 8px;
    background-color: white;
    animation: fadeIn 10s;
    margin-top: -5%;
    position: fixed;
}

.form img {
    height: 30px;
    width: 30px;
    cursor: pointer;
}

.details {
    display: flex;
    flex-direction: column;
}

.cross-icon {
    position: absolute;
    top: 3px;
    left: 3px;
}
.admin-icon{
    position: absolute;
    top: 3px;
    right:3px;
    height: 50px;
    width: 50px;
    cursor: pointer;
}
.form input {
    border: 1px solid black;
    width: 100%;
    height: 5vh;
    border-radius: 10px;
    padding: 10px;
}

.btn {
    background-color: transparent;
    border: none;
    font-size: 20px;
}

.createbtn {
    width: 100%;
    height: 5vh;
    font-size: max(1vw, 15px);
    border-radius: 10px;
    background-color: rgb(0, 255, 115);
    border: 1px solid black;
}

.btn:last-child {
    color: blue;
    cursor: pointer;
    border-bottom: 1px solid blue;
}

.forgot-password {
    border-bottom: 1px solid blue;
    color: blue;
    position: relative;
    cursor: pointer;
}
.user-type {
    display: flex;
    justify-content: center;
    margin-bottom: 1vh;
}

.user-type label {
    margin: 0 10px;
}

.user-type input {
    margin-right: 5px;
}
