.cart {
  transition: 2s;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 0 10px;
}

.cart-heading {
  display: flex;
  justify-content: space-between;
  font-weight: bolder;
  gap: 5vw;
  width: 100%;
  max-width: 1200px;
  padding: 10px 0;
  border-bottom: 2px solid #000;
  text-align: center;
}

.cart-table {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5vw;
  width: 100%;
  max-width: 1200px;
  padding: 10px 0;
  border-bottom: 1px solid #ccc;
}

@media screen and (max-width: 900px) {

  .cart-heading,
  .cart-table {
    font-size: 12px;
    gap: 2vw;
  }
}

@media screen and (max-width: 600px) {

  .cart-heading,
  .cart-table {
    font-size: 10px;
    gap: 1vw;
    flex-wrap: wrap;
  }
}

.cart-parent-item {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cart-heading p,
.cart-table p {
  flex: 1;
  text-align: center;
}

.remove {
  cursor: pointer;
  color: red;
}

.checkout {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 50px;
}

.cart-total {
  width: 40%;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


.cart-total h2 {
  margin-bottom: 20px;
}

.cart-total-div {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  border-bottom: 1px solid gray;
}

.cart-total button {
  width: 100%;
  padding: 10px;
  background-color: #e5e2dd;
  border: none;
  font-size: large;
  margin-top: 20px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

.cart-total button:hover {
  background-color: #d0e1e1;
  transform: scale(1.01);
}

.promo-section {
  width: 30%;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.promo {
  display: flex;
  width: 100%;
  gap: 10px;
  margin-top: 10px;
}

@media screen and (max-width:1000px) {
  .promo {
    flex-direction: column;
  }
}

@media screen and (max-width:650px) {
  .checkout {
    flex-direction: column;
    gap: 50px;
  }

  .cart-total {
    width: 80%;
  }

  .promo-section {
    width: 80%;
  }
}

.promo input {
  flex: 1;
  padding: 10px;
}

.promo-button {
  background-color: black;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.promo-button:hover {
  background-color: #232121;
}