.parent-div{
    margin: 20px 20px;
}
.parent-card {
    display: flex;
    gap: 30px;
    overflow-x: auto;
    margin-top: 20px;
}

.parent-card::-webkit-scrollbar {
    width: 0;
}

.card img {
    box-sizing: border-box;
    flex: 0 0 150px;
    height: 100px;
    background-color: rgb(198, 121, 27);
    border-radius: 100%;
}

.card p {
    text-align: center;
}

.Active {
    flex: 0 0 200px;
    height: 200px;
    background-color: rgb(0, 0, 0);
    border-radius: 100%;
    border: 5px solid greenyellow;
}